@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  background-color: rgb(225,186,247);
  font-family: 'Lobster', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Lobster', cursive;
  background-color: rgb(255,176,47);
  margin: 4px;
  font-size: larger;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.831);
}

button:hover {
  transform: scale(1.1); 
}

.items {
  outline: 4px;
  justify-content: center;
  border: 10px double rgb(183,47,177);
  border-radius: 50%;
  max-height:400px;
  margin: 20px 40px;
  width: 300px;
  height: 250px;
  font-size: larger;
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.831);
}

.buy-button {
  position:absolute;
  bottom: -25px;
  left: 100px;
}

.itemList {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  border: 10px double rgb(183,47,177);
  border-radius: 50%;
  min-width: 300px;
  margin:auto 300px;
  font-size: 30px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.831);
  text-decoration: underline;
}

.flavor {
  text-decoration: underline;
}